doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Page de test"
    body
        header
            h3 Logo
            nav
                ul
                    li
                        a(href="/test") Test
                    li
                        a(href="/") Acceuil
                    li
                        a(href="/contact") Contact

        h1 Page de test