<header>
  <h3>Logo</h3>
  <ul>
    <li><a href="/test">Test</a></li>
    <li><a href="/">Accueil</a></li>
    <li><a href="/about">Qui sommes-nous ?</a></li>
    <li><a href="/products">Produits</a></li>
  </ul>
</header>
