extends ../layouts/main

block content
    h1 Formulaire de contact
    form(action="/submit", method="POST")
        div
            label(for="name") Nom :
            input(type="text", id="name", name="name", required="required")
        br
        div
            label(for="email") Adresse e-mail :
            input(type="email", id="email", name="email", required="required")
        br
        div
            label(for="tel") Tél :
            input(type="text", id="tel", name="tel", required="required")
        br
        div
            button(type="submit") Envoyer