.signup {
    margin: 20px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-title {
    font-size: 36px;
    font-weight: 900;
    color: #000;
    text-align: center;
}

fieldset {
    width: 420px;
    border: 2px solid #0a0148;
    border-radius: 8px;
}

form > div {
    width: 100%;
    height: auto;
}

/* form > div > input {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

form > div > select {
    width: 100%;
    height: auto;
    margin: 15px 0;
} */

.form-control {
    width: 100%;
    height: 30px;
    margin: 0;
    border: 1px solid #0a0148;
    border-radius: 7px;
    font-size: 15px;
}

.form-radio-control {
    width: auto;
    height: auto;
}

.form-group-radio {
    display: inline;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.btn {
    width: 100%;
    /* height: 30px; */
    height: fit-content;
    border: 1px solid #0a0148;
    border-radius: 8px;
}

.btn-color {
    margin: 10px 0;
    font-size: 22px;
    color: #030180;
    background-color:#fff;
}

.btn-color:hover {
    margin: 20px 0;
    font-size: 30px;
    color: #fff;
    background-color:#030180;
}