header
    h3 Logo
    nav
        ul
            li
                a(href="/test") Test
            li
                a(href="/") Acceuil
            li
                a(href="/about") Qui sommes-nous ?
            li
                a(href="/contact") Contact