.page-title {
    font-size: 36px;
    text-align: center;
}

.section-title {
    font-size: 27px;
    text-align: center;
}

/**
* 
*/
html {
   font-size: 14px; 
}

.parent {
    font-size: 16px;
}

.enfantPX {
    font-size: 22px;
}

.enfantEM {
    font-size: 2em;
}

.enfantREM {
    font-size: 3rem;
}

.enfantPourcentage {
    font-size: 200%;
}

.enfantVW {
    font-size: 6vw;
}

.enfantVH {
    font-size: 6vh;
}

/**
* Les positions en CSS
*/

/* Position static */
.static-element {
    border: 2px solid #000;
    font-size: 22px;
    position: static;
    /* top: 100px;
    left: 100px; */
}

/* Position relative */
.relative-element {
    border: 2px solid #000;
    font-size: 22px;
    position: relative;
    top: 100px;
    left: 100px;
}

/* Position absolute */
.absolute-parent {
    border: 2px solid #000;
    font-size: 22px;
    position: relative; /* peux prendre aussi : absolute ou fixed */
    top: 150px;
    left: 80px;
}
.absolute-element {
    border: 2px dashed #000;
    font-size: 22px;
    position: absolute;
    top: 100px;
    left: 100px;
}

/* Position fixed */
.fixed-element {
    border: 2px solid #000;
    font-size: 22px;
    position: fixed;
    bottom: 90px;
    right: 60px;
}

/* Position sticky */
.sticky-element {
    border: 2px solid #000;
    font-size: 22px;
    position: sticky;
    bottom: 200px;
}